/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
*,
::before,
::after {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    margin: 0;
    font-family: "Noto Sans JP", "Roboto", sans-serif;
    letter-spacing: 1.5px;
}

#map {
    position: absolute;
    top: 75px;
    bottom: 0;
    width: 100%;
}

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
    margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    margin: 0
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none
}

dt {
    font-weight: bold
}

dd {
    margin-left: 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border-top-width: 1px;
    margin: 0;
    clear: both;
    color: inherit
}

pre {
    font-family: monospace, monospace;
    font-size: inherit
}

address {
    font-style: inherit
}

a {
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    color: inherit
}

abbr[title] {
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: inherit
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

img,
embed,
object,
iframe {
    vertical-align: bottom
}

button,
input,
optgroup,
select,
textarea {
    -webkit-appearance: none;
    appearance: none;
    vertical-align: middle;
    color: inherit;
    font: inherit;
    background: rgba(0, 0, 0, 0);
    padding: 0;
    margin: 0;
    outline: 0;
    border-radius: 0;
    text-align: inherit
}

[type=checkbox] {
    -webkit-appearance: checkbox;
    appearance: checkbox
}

[type=radio] {
    -webkit-appearance: radio;
    appearance: radio
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
    cursor: default
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

select::-ms-expand {
    display: none
}

option {
    padding: 0
}

fieldset {
    margin: 0;
    padding: 0;
    min-width: 0
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

label[for] {
    cursor: pointer
}

details {
    display: block
}

summary {
    display: list-item
}

[contenteditable] {
    outline: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption {
    text-align: left
}

td,
th {
    vertical-align: top;
    padding: 0
}

th {
    text-align: left;
    font-weight: bold
}

template {
    display: none
}

[hidden] {
    display: none
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer
}

html {
    font-size: 62.5%
}

h2 {
    font-size: 3.2rem;
    line-height: 1.6;
    font-weight: 700;
}

h3 {
    font-size: 1.8rem;
    line-height: 1.6;
    font-weight: 700;
    padding-top: 20px;
}

h4 {
    font-size: 1.4rem;
    line-height: 2.6;
    font-weight: 600;
    color: #383838;
}

p {
    font-size: 1.6rem;
    line-height: 1.6
}

small {
    font-size: 1.2rem;
    line-height: 1.4
}

body {
    font-family: "Noto Sans JP", "Roboto", sans-serif;
    letter-spacing: 1.5px
}

header {
    position: relative;
    z-index: 50;
    background: #383838;
    padding: 0 0 0 5px;
    height: 75px;
    display: flex;
    align-items: center
}

header h1 img {
    width: 180px;
    height: auto
}

header nav {
    margin-left: auto
}

header nav ul {
    display: flex
}

header nav ul li {
    font-size: 1.8rem;
    width: 250px;
    text-align: center
}

header nav ul li a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 75px;
    transition: .3s
}

header nav ul li a span {
    padding-left: 50px;
    display: inline-block;
    cursor: pointer;
}

header nav ul li a:hover,
header nav ul li.current a {
    background: #fff;
    color: #000
}

/*header nav ul li:nth-child(1).current span,
header nav ul li:nth-child(1) a:hover span {
    background: url(/public/images/nav_icon_life_on.svg) no-repeat 0 50%/30px 27px
}

header nav ul li:nth-child(1) span {
    background: url(/public/images/nav_icon_life.svg) no-repeat 0 50%/30px 27px
}

header nav ul li:nth-child(2).current span,
header nav ul li:nth-child(2) a:hover span {
    background: url(/public/images/nav_icon_area_on.svg) no-repeat 0 50%/30px 25px
}

header nav ul li:nth-child(2) span {
    background: url(/public/images/nav_icon_area.svg) no-repeat 0 50%/30px 25px
}

header nav ul li:nth-child(3).current span,
header nav ul li:nth-child(3) a:hover span {
    background: url(/public/images/nav_icon_spot_on.svg) no-repeat 0 50%/24px 34px
}

header nav ul li:nth-child(3) span {
    background: url(/public/images/nav_icon_spot.svg) no-repeat 0 50%/24px 34px
}*/

main {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

main .sideArea {
    position: relative;
    z-index: 50;
    transition: .3s;
    width: 350px;
}

main .sideArea .inner {
    position: relative;
    z-index: 1;
    background: #fff;
    width: 350px;
    overflow-y: scroll
}

main .sideArea .inner::-webkit-scrollbar {
    width: 10px
}

main .sideArea .inner::-webkit-scrollbar-track {
    background-color: #fff
}

main .sideArea .inner::-webkit-scrollbar-thumb {
    background-color: #eee
}

.inner .toggle_button_list li {
    display: flex;
    padding: 20px 5px;
    border-bottom: 1px solid #999
}

.inner .toggle_button_list li p {
    font-size: 1.6rem;
    flex: 1;
}

.inner .toggle_button_list li .toggle_button {
    position: relative;
    width: 40px;
    height: 15px;
    margin-left: auto
}

.inner .toggle_button_list li .toggle_button .toggle_label {
    width: 40px;
    height: 15px;
    background: #e6e6e6;
    position: relative;
    display: inline-block;
    border-radius: 40px;
    transition: .3s;
    box-sizing: border-box
}

.inner .toggle_button_list li .toggle_button .toggle_label:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    left: -5px;
    top: -2px;
    z-index: 2;
    background: #2e3192;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    transition: .3s
}

.inner .toggle_button_list li .toggle_button .toggle_input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer
}

.inner .toggle_button_list li .toggle_button .toggle_input:checked+.toggle_label:after {
    left: 25px
}

main .sideArea .inner .range input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #e6e6e6;
    outline: none;
    -webkit-transition: .3s;
    transition: opacity .3s;
    border-radius: 40px
}

main .sideArea .inner .range input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 22px;
    width: 22px;
    margin-top: -1px;
    background-color: #2e3192;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    transition: .3s
}

main .sideArea .inner .range ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 0;
    font-size: 1.2rem
}

main .sideArea .inner .range ul li span {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem
}

main .sideArea>button[type=button] {
    background: #fff;
    width: 35px;
    height: 70px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    color: #999
}

main .sideArea>button[type=button] span {
    text-indent: -9999px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%
}

main .sideArea>button[type=button] span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 10px;
    height: 10px
}

main #sidebar {
    height: calc(100% - 75px);
    transform: translateX(-350px)
}

main #sidebar.active {
    height: calc(100% - 75px);
    transform: translateX(0)
}

main #sidebar .inner {
    padding: 45px 40px;
    box-shadow: 5px 0 5px 0 rgba(0, 0, 0, .2);
    height: 100%
}

main #sidebar .inner h2 {
    position: relative;
    font-size: 1.6rem;
    /*margin-bottom: 20px*/
}

main #sidebar .inner .conts {
    padding: 0px;
}

main #sidebar .inner h2::before {
    content: attr(data-name);
    font-family: "Roboto", sans-serif;
    font-size: 4.8rem;
    color: #999;
    display: block;
    font-weight: 500
}

main #sidebar #sidebarToggleBtn {
    left: 350px;
    box-shadow: 5px 0 5px 0 rgba(0, 0, 0, .2);
    border-radius: 0 10px 10px 0
}

main #sidebar #sidebarToggleBtn span::before {
    border: 0;
    border-top: 2px solid #999;
    border-right: 2px solid #999
}

main #sidebar #sidebarToggleBtn span.active::before {
    border: 0;
    border-bottom: 2px solid #999;
    border-left: 2px solid #999
}

main #sidebar .inner .toggle_button_list li p {
    padding-left: 15px;
    padding-right: 15px;
}

main #selectBukken {
    position: absolute;
    right: 0;
    transform: translateX(350px);
    height: calc(100% - 75px);
    top: 75px;
}

main #selectBukken.active {
    transform: translateX(0px)
}

main #selectBukken .inner {
    min-height: 100%;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .2);
    height: 100%;
}

.inner .conts {
    position: relative;
}

.inner .conts dl dt {
    width: 30%
}

.inner .conts dl dd {
    width: 70%
}

.inner .conts #backAroundBtn {
    font-size: 1.4rem;
    text-align: center;
    border: 1px solid #383838;
    border-radius: 90px;
    padding: 10px 20px;
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
}

main #selectBukken #selectBukkenToggleBtn {
    right: 350px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .2);
    border-radius: 10px 0 0 10px
}

main #selectBukken #selectBukkenToggleBtn span::before {
    border: 0;
    border-bottom: 2px solid #999;
    border-left: 2px solid #999
}

main #selectBukken #selectBukkenToggleBtn span.active::before {
    border: 0;
    border-top: 2px solid #999;
    border-right: 2px solid #999
}

main .inner .mainPhoto {
    width: 100%;
    height: 240px;
    overflow: hidden;
    text-align: center;
}

main .inner .conts {
    padding: 45px 40px
}

main .inner .conts h3 {
    font-size: 1.6rem;
    margin-bottom: 20px
}

main .inner .conts h3 small {
    display: block
}

main .inner .conts dl {
    display: flex;
    flex-wrap: wrap;
    width: 100%
}

main .inner .conts dl dt {
    font-size: 1.4rem;
    margin-bottom: 5px;
    padding-right: 10px
}

main .inner .conts dl dd {
    font-size: 1.4rem;
    margin-bottom: 5px
}

main #modal {
    position: absolute;
    top: 110px;
    left: 60px;
    width: 380px;
    padding: 0;
    margin: 0;
    z-index: 20;
    height: calc(100vh - 155px);
    transition: .3s
}

main #modal.moved {
    left: calc(60px + 350px)
}

main #modal .closeBtn {
    position: absolute;
    top: -15px;
    right: -10px;
    z-index: 30
}

main #modal .inner {
    height: calc(100vh - 155px);
    overflow-y: scroll
}

main #modal .inner dl dt {
    width: 35%
}

main #modal .inner dl dd {
    width: 65%
}

main #modal .inner p {
    font-size: 1.4rem;
    /*margin-top: 50px*/
}

main #modal .inner {
    padding: 45px 40px;
    box-shadow: 5px 0 5px 0 rgba(0, 0, 0, .2);
    height: 100%
}

main #modal .inner h2 {
    position: relative;
    font-size: 1.6rem;
    /*margin-bottom: 20px*/
}

main #modal .inner .conts {
    padding: 0px;
}

main #modal .inner h2::before {
    content: attr(data-name);
    font-family: "Roboto", sans-serif;
    font-size: 4.8rem;
    color: #999;
    display: block;
    font-weight: 500
}

main #modal .inner .toggle_button_list li p {
    padding-left: 15px;
    padding-right: 15px;
    text-indent: 20px;
}

#map .speechBubble {
    position: relative;
    background: #fff;
    color: #000;
    padding: 20px;
    border-radius: 10px;
    width: 240px
}

#map .speechBubble:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -7px;
    border: 7px solid rgba(0, 0, 0, 0);
    border-top: 30px solid #fff
}

#map .speechBubble h4 {
    font-size: 1.6rem;
    font-weight: bold
}

#map .speechBubble h4+p {
    margin-top: 10px
}

#map .speechBubble p {
    font-size: 1.4rem
}

#map .speechBubble p+p {
    margin-top: 5px
}

.mapboxgl-popup-content {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    padding: 20px;
    pointer-events: auto;
    position: relative;
    opacity: 0.85;
}

.mapboxgl-popup-tip {
    border-top-width: 80px;
    /* Adjust this value to make the arrow longer */
    border-bottom-width: 80px;
}

.mapboxgl-popup-content h3 {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 5px;
}

.mapboxgl-popup-content p {
    font-size: 1.4rem;
}

#search_div.moved {
    right: calc(350px);
    position: absolute;
}

#sidebar .inner .toggle_button_list li p {
    /*background: url(/public/images/life/park_colored.svg) no-repeat 0 15%;*/
    background-size: 25px;
}

.circle-label {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(255, 105, 180);
    color: #fff;
}

.circle-label span {
    display: inline-block;
    vertical-align: middle;
    font-size: larger;
}

.mapboxgl-ctrl-geocoder {
    width: 400px !important;
}

.toggle_button_list li p[data-life=カフェ] {
    background: var(--cafe-image) no-repeat 0 15%;
    background-size: 25px;
}

.toggle_button_list li p[data-life=食事] {
    background: var(--eat-image) no-repeat 0 15%;
    background-size: 25px;
}


.toggle_button_list li p[data-life=コンビニ] {
    background: var(--conveniencestore-image) no-repeat 0 15%;
    background-size: 25px;
}

.toggle_button_list li p[data-life=スーパー] {
    background: var(--supermarket-image) no-repeat 0 15%;
    background-size: 25px;
}

.toggle_button_list li p[data-life=薬局] {
    background: var(--drugstore-image) no-repeat 0 15%;
    background-size: 25px;
}

#home-iso{
    display: none;
}